body {
    background-color: #1B2430;
}

.calculator {
    background-color: #A0BCC2;
    width: 500px;
    padding: 20px;
    border-radius: 15px;

}

button {
    width: 100px;
    height: 50px;
}

.span-2 {
    width: 100%;
}

button {
    background-color: #FEFBE7;
    border-radius: 10px;
    border: 0 5px;
}

td {
    padding: 5px;
}

table {
    border-spacing: 10px;
    background-color: #A0BCC2;
    border-radius: 10px;
}

.display {
    height: 200px;
    background-color: #06283D;
    border-radius: 10px;
    color: #D6D5A8;
    margin-bottom: 20px;
}

.pre-operand {
    font-size: 2em;
    text-overflow: ellipsis;
    overflow: hidden;

}

.curr-operand {
    font-size: 3em;
    word-wrap: break-word;
}

.curr-operator {
    font-size: 1.5em;
}