html,
body {
    height: 100%;
}

.name {
    font-size: 7rem;
    font-family: 'Great Vibes', cursive;
    color: grey
}

.bio {
    font-size: 1.2em;
    font-family: 'Cabin', sans-serif;

}

.image {
    background-image: url(images/snape.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.quote {
    font-size: 2.5rem;
}

.page {
    /* height: 100%; */
    background-color: #171312;
}